html, body {

	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

#wrap {

	height: 100vh;
	display: grid;
	grid-template-columns: 200px auto;
}

.Signup {
	margin-top: 100px;
}

.error {
	color: tomato;
}
