#sidebar {
	background: purple;
	color: white;
	padding: 20px;
}

#sidebar h2 {
	font-size: 16px;
	margin-bottom: 15px;
	padding: 5px
}

#sidebar h3 {
	font-size: 15px;
	padding: 5px
}

#sidebar li {
	padding: 5px 10px;
	cursor: pointer;
	border-radius: 5px;
}

#sidebar li:hover {
	background: black;
	color: red;
}

#sidebar li.active {
	background: black;
	color: red;
}
